  @import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Press Start 2P', sans-serif;
    font-size: large;
    background-color: black;
    color:aliceblue;
  }
div.above-horizon{
    position: relative;
    height: 40vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;                                       
    border-bottom: 10px solid white;
}
div.number{ 
    background: #eee;
    color: #333;
    font-size: 5vw;
    width: 10vw;
    padding: 2vw;
    text-align: center;
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

div.top-section{
    border-bottom: none;                                 
    display: flex;
    padding-bottom: 5rem;
}
p.disclaimer{
    display: inline-block; 
    padding-left: 3%;
    padding-top: 3%;
    width: 70%;
    font-size: 1vw;
}
p.range-description{
    text-align: center;
    font-size: 1.5vw;
}

p.title{
    margin-top: 2rem ;
    text-align: center;
    font-size: 2vw
}
button.restart {
    width: 12rem;
    height: 5rem;
    background-color: aliceblue;
    min-width: 200px;
    min-height: 60px;
    color: black;
    font-size: 1.5rem;
    margin-bottom: 5rem;
}

div.below-horizon {
    display: flex;
    margin-top: 5rem;
}

div.right-section {
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}
input.guess {
    height: 7vw;
    width: 10vw;
    font-size: 2rem;
    border: 4px solid #eee;
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
}
button.check{
    padding: 2rem;
    background-color: aliceblue;
    color: black;
}
div.left-section {
    margin-top: 5%;
    margin-left: 30%;
}
.message {
  margin-bottom: 4rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}
